@CHARSET "UTF-8";

header{
	width: 100%;
	position: fixed;
	z-index: 100;
}

#start{
	margin-top: 98px;
}

.downNav{
	width : 100%;
	text-align : center;
	background-color: #980000;
	margin: 0 auto;
	padding: 0;
	border: 0;
	position: fixed;
	top: 85px;
	z-index: 90;
}

#navDown > li:hover > a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 3px solid #A566FF;
}
#navDown span:hover {
  -webkit-transform: translate(-10px, -3px);
  -moz-transform: translate(-10px, -3px);
  -o-transform: translate(-10px, -3px);
  transform: translate(-10px, -3px);
}
#navDown > li.current-menu-item > a,
#navDown > li.current_page_item > a {
  border-top: 3px solid #cb5432;
}
#navDown ul {
  background: #f8f5f2;
}
#navDown ul li a {
  color: #444444;
}
#navDown ul li a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #cb5432;
}

#navDown {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
#navDown > li {
  margin: 0 10px;
}
#navDown > li:first-child {
  margin-left: 0px;
}
#navDown > li:last-child {
  border-right: none;
  padding-right: 0px;
}
#navDown > li > a {
color: #dcd2be;
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: block;
  overflow: hidden;
  line-height: 50px;
  border-bottom: 3px solid transparent;
}

.sf-menuDown, .sf-menuDown * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menuDown {
	
}
.sf-menuDown ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menuDown ul li {
	width:			100%;
}
.sf-menuDown li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menuDown li {
	float:			left;
	position:		relative;
}
.sf-menuDown a {
	display:		block;
	position:		relative;
}
.sf-menuDown li:hover ul,
.sf-menuDown li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menuDown li:hover li ul,
ul.sf-menuDown li.sfHover li ul {
	top:			-999em;
}
ul.sf-menuDown li li:hover ul,
ul.sf-menuDown li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menuDown li li:hover li ul,
ul.sf-menuDown li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menuDown li li li:hover ul,
ul.sf-menuDown li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}