@CHARSET "UTF-8";

/* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> */

* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.dSearchType {
  width: 115px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #e3a742;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.dSearchForm {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #e3a742;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}