<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.mapper.BoardMapper">

	<insert id="create">
		insert into board (btitle, bcontent, bwriter) values(#{btitle}, #{bcontent}, #{bwriter})
	</insert>

	<select id="read" resultType="BoardDto">
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board where bno = #{bno}
	</select>

	<update id="update">
		update board set btitle = #{btitle}, bcontent = #{bcontent}, bupdatedt = #{bupdatedt} where bno = #{bno}
	</update>

	<delete id="delete">
		delete from board where bno = #{bno}
	</delete>
	
	<select id="listAll" resultType="BoardDto">
	<![CDATA[
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board
		where bno > 0 order by bno desc, bwritedt desc
	]]>
	</select>
	
	<select id="listPage" resultType="BoardDto">
	<![CDATA[
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board
		where bno > 0 order by bno desc, bwritedt desc limit #{page}, 10
	]]>
	</select>
	
	<select id="listCriteria" resultType="BoardDto">
	<![CDATA[
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board
		where bno > 0 order by bno desc, bwritedt desc limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno) from board
		where bno > 0
	]]>
	</select>
	
	<select id="listSearch" resultType="BoardDto">
	<![CDATA[
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board
		where bno > 0 
	]]>
	
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and btitle like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and bcontent like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and bwriter like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and (btitle like CONCAT('%', #{keyword}, '%') OR bcontent like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and (bcontent like CONCAT('%', #{keyword}, '%') OR bwriter like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	
	<![CDATA[
		order by bno desc, bwritedt desc limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
	<![CDATA[
		select count(bno) from board
		where bno > 0
	]]>
	
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and btitle like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and bcontent like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and bwriter like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and (btitle like CONCAT('%', #{keyword}, '%') OR bcontent like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and (bcontent like CONCAT('%', #{keyword}, '%') OR bwriter like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</select>

</mapper>