<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.mapper.HouseReplyMapper">

	<select id="list" resultType="HouseReplyDto">
		select * from hreply where hno = #{hno}
		order by hrno desc
	</select>
	
	<insert id="create">
		insert into hreply(hno, hrcontent, mid)
		values(#{hno},#{hrcontent},#{mid})
	</insert>
	
	<update id="update">
		update hreply set hrcontent = #{hrcontent}, hrupdatedt = now()
		where hrno = #{hrno}
	</update>
	
	<delete id="delete">
		delete from hreply where hrno = #{hrno}
	</delete>
	
	<select id="listPage" resultType="HouseReplyDto">
		select * from hreply where hno = #{hno}
		order by hrno desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="count" resultType="int">
		select count(hrno) from hreply where hno = #{hno}
	</select>
	
	<select id="getBno" resultType="int">
		select hno from hreply where hrno = #{hrno}
	</select>
	
</mapper>