<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.mapper.ReplyMapper">

	<select id="list" resultType="ReplyDto">
		select
		*
		from
		tb1_reply
		where hno =
		#{hno}
		order by rno desc
	</select>

	<insert id="create">
		insert into tb1_reply (hno, replytext, replyer)
		values (#{hno},#{replytext},#{replyer})
	</insert>

	<update id="update">
		update tb1_reply set replytext = #{replytext},
		updatedate = now()
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from tb1_reply where rno =#{rno}
	</delete>


	<select id="listPage" resultType="ReplyDto">
		select
		*
		from
		tb1_reply
		where
		hno = #{hno}
		order by rno desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<select id="count" resultType="int">
		select count(hno) from tb1_reply where hno =#{hno}
	</select>
	
	<select id="getHno" resultType="int">
		select hno from tb1_reply where rno = #{rno}
	</select>


</mapper>

